.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

.grid-item {
    background-color: lightgray;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
